html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
section,
div,
span,
figure {
  margin: 0px;
}

a {
  text-decoration: none;
  color: unset;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0px;
}

* {
  box-sizing: border-box;
}

.header {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
  padding: 10px;
  box-shadow: 0px 0px 4px 3px #bfbfbf;
}
.header img {
  width: 45%;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.intro__location {
  display: flex;
  justify-content: center;
  padding: 15px;
  width: 100%;
  background-color: #e5e5e5;
  font-weight: bold;
}
.intro__location__label {
  position: relative;
  right: 15px;
}
.intro__explore {
  text-align: center;
  width: 100%;
  background-color: #f2f2f2;
  padding: 20px;
}
.intro__explore h1 {
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
  font-weight: 800;
}
.intro__explore p {
  font-size: 18px;
  color: grey;
}
.intro__explore .btn {
  margin-top: 30px;
  margin-bottom: 25px;
  padding: 15px;
  padding-right: 20px;
  padding-left: 20px;
  background-image: linear-gradient(-5deg, #9356dc, #ff79da);
  border: 0px solid;
  border-radius: 25px;
  font-size: 16px;
  box-shadow: 0px 2px 3px grey;
  color: white;
}
.intro__operation {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 15px;
  margin-top: 25px;
  margin-bottom: 30px;
  gap: 15px;
}
.intro__operation__list {
  list-style: none;
  counter-reset: tuto;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.intro__operation__list__element {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  column-gap: 20px;
  padding-left: 30px;
  width: 100%;
  height: 70px;
  border-radius: 18px;
  box-shadow: 0px 3px 6px lightgray;
  background-color: #f2f2f2;
  font-weight: 700;
}
.intro__operation__list__element::before {
  counter-increment: tuto 1;
  content: counter(tuto) " ";
  background-color: #9356dc;
  width: 25px;
  height: 25px;
  border-radius: 100px;
  color: white;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 13px;
}
.intro__operation__list__element:last-child {
  background-color: rgba(147, 86, 220, 0.15);
}
.intro__operation__list__element__label--grey {
  color: grey;
}
.intro__operation__list__element__label--primary {
  color: #9356dc;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 15px;
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #f2f2f2;
}
.main__h2 {
  margin-bottom: 20px;
}
.main__container {
  display: flex;
  flex-direction: column;
}
.main__container__card {
  width: 100%;
  height: 250px;
  overflow: hidden;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 3px 6px lightgray;
  margin-bottom: 20px;
  position: relative;
}
.main__container__card__fig {
  width: 100%;
}
.main__container__card__fig__image {
  height: 175px;
  overflow: hidden;
}
.main__container__card__fig__image__new {
  position: absolute;
  top: 15px;
  right: 15px;
  width: fit-content;
  padding: 7px;
  padding-left: 12px;
  padding-right: 12px;
  background-color: #99e2d0;
  color: #278870;
  font-weight: 500;
}
.main__container__card__fig__image__img {
  width: 100%;
  position: relative;
  bottom: 45px;
}
.main__container__card__fig__image__img--up {
  bottom: 155px;
}
.main__container__card__fig__caption {
  position: relative;
  padding: 15px;
  display: flex;
  align-items: center;
}
.main__container__card__fig__caption__content {
  flex-grow: 1;
}
.main__container__card__fig__caption__content__title {
  font-size: 18px;
  margin-bottom: 2px;
}
.main__container__card__fig__caption__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 15px;
  height: 40px;
  width: 40px;
}

.footer {
  padding: 25px;
  color: #ffffff;
  background-color: #404040;
}
.footer__img {
  filter: invert(91%) sepia(91%) saturate(28%) hue-rotate(205deg) brightness(108%) contrast(100%);
  width: 30%;
  margin-top: 5px;
}
.footer__nav {
  margin-bottom: 20px;
}
.footer__nav__list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 7px;
}
.footer__nav__list__link {
  display: flex;
}
.footer__nav__list__link a {
  text-decoration: none;
  color: #ffffff;
}
.footer__nav__list__link__icon {
  width: 22px;
}

/*# sourceMappingURL=style.css.map */
