@import "./Utils/variables";
@import "./Utils/reset";
@import "./Utils/animations";

body {
  font-family: "Roboto", sans-serif;
  margin: 0px;
}
* {
  box-sizing: border-box;
}
h1 {
  font-family: "Shrikhand", sans-serif;
}

.header {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
  padding: 10px;
  box-shadow: 0px 0px 4px 3px darken($color: #f2f2f2, $amount: 20);

  img {
    width: 45%;
  }

  &__return {
    align-self: center;
    position: absolute;
    left: 20px;
  }
}

.main {
  background-color: #f2f2f2;
  &__background {
    width: 100%;
    height: 270px;
    object-fit: cover;
  }

  &__menu {
    background-color: #f2f2f2;
    padding: 15px;
    padding-top: 35px;
    border-radius: 40px 40px 0px 0px;
    position: relative;
    bottom: 50px;
    display: flex;
    flex-direction: column;

    &__title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 30px;

      &__h1 {
        font-size: 28px;
        font-weight: 500;
      }

      &__icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 25px;
        font-size: 24px;

        .like--bg {
          opacity: 0;

          transition: opacity 200ms ease;
          &::before {
            background: linear-gradient(
              180deg,
              $color-primary,
              $color-secondary
            );
            background-clip: text;
            color: transparent;
          }
        }
        .like--nobg {
          position: absolute;
          opacity: 1;
          transition: opacity 200ms ease;
        }

        &:hover > .like--bg {
          opacity: 1;
        }

        &:hover > .like--nobg {
          opacity: 0;
        }

        &:active > .like--bg {
          opacity: 1;
        }

        &:active > .like--nobg {
          opacity: 0;
        }
      }
    }

    &__button {
      margin-top: 40px;
      margin-bottom: 5px;
      padding: 15px;
      width: 55%;
      background-image: linear-gradient(
        -5deg,
        $color-primary,
        $color-secondary
      );
      border: 0px solid;
      border-radius: 25px;
      font-size: 16px;
      box-shadow: 0px 2px 3px grey;
      color: white;
      align-self: center;
      transition: background-image 300ms ease, box-shadow 300ms ease;

      &:hover {
        background-image: linear-gradient(
          -5deg,
          lighten($color-primary, 5),
          lighten($color-secondary, 5)
        );
        box-shadow: 0px 1px 10px grey;
      }
    }
  }

  &__container {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    &__h2 {
      text-transform: uppercase;
      font-weight: 400;
      font-size: 20px;
    }

    &__underline {
      background-color: $color-tertiary;
      height: 4px;
      width: 50px;
      margin-top: 2px;
      margin-bottom: 15px;
    }
    @for $i from 0 to 9 {
      .load-#{$i} {
        animation-delay: #{$i * 0.15}s;
      }
    }
    &__button {
      background-color: white;
      box-shadow: 0px 4px 5px darken(#f2f2f2, 5);
      border-radius: 15px;
      padding-top: 12px;
      padding-bottom: 12px;
      padding-left: 12px;
      padding-right: 20px;
      margin-bottom: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 2px;
      position: relative;
      overflow: hidden;
      cursor: pointer;
      animation: load_menu 1.5s;
      animation-fill-mode: both;
      transform: translateY(15px);

      &__h3 {
        font-size: 20px;
        margin-bottom: 2px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      &__desc {
        display: flex;
        justify-content: space-between;
        font-size: 1em;

        :first-child {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          width: 88%;
        }

        :last-child {
          font-weight: bold;
        }
      }

      &__check {
        background-color: $color-tertiary;
        position: absolute;
        height: 100%;
        width: 65px;
        top: 0;
        right: -65px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color-tertiary;
        font-size: 18px;

        &__icon {
          background-color: #ffffff;
          border-radius: 100px;
          width: 25px;
          height: 25px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      &:hover {
        transition: padding-right 500ms ease-in-out;
        transition-delay: 40ms;
        padding-right: 80px;
      }

      &:hover > &__check {
        transition: transform 500ms ease-in-out;
        transform: translateX(-65px);
      }

      &:hover &__check__icon {
        animation: rotate 400ms 1 ease-in-out;
        animation-delay: 100ms;
      }

      &:active {
        transition: padding-right 500ms ease-in-out;
        transition-delay: 40ms;
        padding-right: 80px;
      }

      &:active > &__check {
        transition: transform 500ms ease-in-out;
        transform: translateX(-65px);
      }

      &:active &__check__icon {
        animation: rotate 400ms 1 ease-in-out;
        animation-delay: 100ms;
      }
    }
  }
}

.footer {
  padding: 25px;
  color: #ffffff;
  background-color: lighten($color: #000000, $amount: 25);

  &__img {
    filter: invert(91%) sepia(91%) saturate(28%) hue-rotate(205deg)
      brightness(108%) contrast(100%);
    width: 30%;
    margin-top: 5px;
  }

  &__nav {
    margin-bottom: 20px;

    &__list {
      padding: 0;
      list-style: none;
      display: flex;
      flex-direction: column;
      row-gap: 7px;

      &__link {
        display: flex;

        a {
          text-decoration: none;
          color: #ffffff;
        }

        &__icon {
          width: 22px;
        }
      }
    }
  }
}
